Instagram_clone/Instagram_clone/settings/dev.py
Instagram_clone/Instagram_clone/settings/production.py
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
Instagram_clone/media/*
Instagram_clone/assets/*
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
venv/*