.sidebar {
    position: fixed;
    height: 100vh;
    width: 20%;
}
.sidebar-menu-div {
    /*border: 2px solid red;*/

}

.sidebar-menu-div:hover{
    background-color: #f5f4f4;
    border-radius: 50px;
}