.profile-pic {
    margin: 10px 2px 10px 3px;
    padding: 2px;
    vertical-align: middle;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile-header {
    padding: 10px 20px 10px 100px;
}

.story-memories {
            border: 2px  solid gray;
            margin:10px 2px 10px 3px;
            padding: 2px;
            vertical-align: middle;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
}

.memories {
            margin: 0;
            padding: 0 0 0 2px;
            overflow: auto;
            white-space: nowrap;
}

.other-post-image {
    margin: 12px 0px 0px 10px;
    /*padding: 2px;*/
    vertical-align: middle;
    width: 140px;
    height: 140px;
    /*border-radius: 50%;*/
    object-fit: cover;
    object-position: center;
}

.post-image {
    margin: 10px 10px 10px 10px;
    padding: 2px;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    /*border-radius: 50%;*/
    object-fit: cover;
    object-position: center;
}

/*.post-image:hover {*/
/*    -webkit-filter: brightness(30%);*/
/*}*/


.follower-profile-image {
    margin:2px 2px 2px 3px;
    padding: 2px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.follower-username-text{
    margin-left: 15px;
    color: gray;
    font-size: 12px;
}

.follower-user-heading {
    font-weight: bold;
    margin-left: 15px;
}

.display-none{
   display: none;
}