.saved-title {
    color: white;
    position: absolute;
    left: 10px;
    bottom: 4px;
    font-size: 45px;
    font-weight: 500;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
}

.saved-div {
    /*position: absolute;*/
    position: relative;
    width: 320px;
    height: 320px;
}

.saved-div:hover {
    -webkit-filter: brightness(60%);

}
