.user_post_saved_image {
    margin: 10px 10px 10px 10px;
    padding: 2px;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    /*border-radius: 50%;*/
    object-fit: cover;
    object-position: center;
}