.saved-title {
    z-index: 100;
    color: white;
    position: absolute;
    left: 10px;
    bottom: 4px;
    font-size: 45px;
    font-weight: 500;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
}

.saved-div {
    position: relative;
    width: 320px;
    height: 320px;
}

.inner-saved-div {
   -webkit-filter: brightness(70%);

}

.inner-saved-div:hover{
    -webkit-filter: brightness(50%);
}

/*.saved-div:hover {*/
/*    -webkit-filter: brightness(50%);*/

/*}*/
