{% extends "base/base.html" %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static "user_profile/style/account_edit.css" %}">
{% endblock %}
{% block content %}
    <div class="container m-4 bg-white border p-0">
        <div class="d-flex bd-highlight">
            <div class=" border-end">
                <div class="d-flex flex-column align-items-center mb-3">
                  <div class="p-2 mx-4 account-edit-buttons" onclick="location.href='{% url 'account-edit' %}';">Edit Profile</div>
                  <div class="p-2 mx-4 account-edit-buttons" onclick="location.href='{% url 'change_password' %}';">Change Password</div>
                </div>
            </div>
            <!-- edit profile section -->
{#            {% if "abc" == 0 %}#}
{#                {% include "user_profile/change_password.html" %}#}
{#            {% elif "abc" == 1 %}#}
                {% include "user_profile/edit.html" %}
{#            {% endif %}#}
        </div>
    </div>
{% endblock %}