{% extends "base/base.html" %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'user_profile/style/friendrequests.css' %}">
{% endblock %}
{% block content %}
    <div class="container mt-4 my-c" >
        {% for i in user_friend_request %}
        <div class="d-flex align-items-center my-d  mb-3">
            <div class="my-d">
                <img class="profile-friend-request-image" src="{% static 'base/images/profile.jpg' %}">
            </div>
            <div class="flex-grow-1 mx-2">
                <p class="my-p friend-req-heading">{{ i.sender.userpersonal.uniquename }}</p>
                <p class="my-p req-text" >{{ i.sender.get_full_name }}</p>
            </div>
            <div class="my-d">
                <button type="button" class="btn btn-primary">Accept</button>
                <button type="button" class="btn btn-secondary mx-2">Delete</button>
            </div>
        </div>
        {% endfor %}
{#        <div class="d-flex align-items-center my-d  mb-3">#}
{#            <div class="my-d">#}
{#                <img class="profile-friend-request-image" src="{% static 'base/images/profile.jpg' %}">#}
{#            </div>#}
{#            <div class="flex-grow-1 mx-2">#}
{#                <p class="my-p friend-req-heading">iamjatin_yadav</p>#}
{#                <p class="my-p req-text" >jatin yadav</p>#}
{#            </div>#}
{#            <div class="my-d">#}
{#                <button type="button" class="btn btn-primary">Accept</button>#}
{#                <button type="button" class="btn btn-secondary mx-2">Delete</button>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}