{% extends 'base/base.html' %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static "user_profile/style/profile.css" %}">
    <link rel="stylesheet" href="{% static "user_profile/style/usersaved.css" %}">
{% endblock %}
{% block content %}
<div class="container-fluid mt-4" >
    <!-- header section -->
    <div class="container-fluid profile-header">
        <div class="d-flex">
            {% for i in username %}
            <div class="d-flex align-items-center" style=" display: inline-block;">
                <img class="profile-pic" src="{{ i.user_profile_pic.profile_pic.url }}">
            </div>
            <div class="d-flex" style="margin: 0 0 0 50px">
                <div class="d-flex flex-column">
                    <!--profile username with edit setting and ad tool button -->
                    <div class="d-flex flex-row align-items-center mb-2">
                      <div class=" flex-grow-1">
                          <p class="my-p" style="font-size: 25px; padding-right: 30px;">{{ i.userpersonal.uniquename }}</p>
                      </div>
                      <div class="p-2" >
                            <button type="submit" class="btn btn-secondary" onclick="location.href='{% url 'account-edit' %}'">Edit profile</button>
                      </div>
                      <div class="p-2">
                          <button type="submit" class="btn btn-secondary" onclick="location.href={% url 'home' %}">Ad Tool</button>
                      </div>
                      <div class="p-2" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
                              <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                            </svg>
                      </div>
                    </div>
                    <!--post follower following sections -->
                    <div class="d-flex align-items-center justify-content-between mb-3" style="padding-right: 90px;">
                        <div>
                            <p class="my-p" style="font-size: 13px;"><span style="font-size: 15px; font-weight: bold;">40</span> posts</p>
                        </div>
                        <div>
                            <p class="my-p" style="font-size: 13px; cursor: pointer;"><a data-bs-toggle="modal" data-bs-target="#followerModal"><span style="font-size: 15px; font-weight: bold;">{{ user.get_follower.count }}</span> follower</a></p>
                        </div>
                        <div>
                            <p class="my-p" style="font-size: 13px; cursor: pointer;"><a data-bs-toggle="modal" data-bs-target="#followingModal"><span style="font-size: 15px; font-weight: bold;">{{ user.get_following.count }}</span> following</a></p>
                        </div>
                    </div>
                    <!-- name section -->
                    <div class="d-flex">
                        <p class="my-p" style="text-transform: capitalize;">{{ i.get_full_name }}</p>
                    </div>
                    <div class="d-flex mb-1">
                        <p class="my-p"style="color: #4a4ae7; font-size: 12px; cursor: pointer;">{{ i.user_profile_infos.website }}</p>
                    </div>
                    <!-- profile Bio section -->
                    <div class="d-flex">
                        <p class="my-p" style="font-size: 12px;">{{ i.user_profile_infos.bio| safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- memories show and add button container -->
    <div class="container-fluid my-d memories px-2">
        <div class="col-1 my-d mx-4 " style="display: inline-block;" >
            <img class="story-memories" src="{% static 'base/images/profile.jpg' %}">
            <p style="text-align: center; font-size: 15px" >Dehradun</p>
        </div>

        <div class="col-1 my-d mx-4 " style="display: inline-block;" >
            <img class="story-memories" src="{% static 'base/images/profile.jpg' %}">
            <p style="text-align: center; font-size: 15px" >Alwar</p>
        </div>

        <!-- memories add button -->
        <div class="col-1 my-d mx-2 " style="display: inline-block;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg story-memories" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            <p style="text-align: center; font-size: 15px" >New</p>
        </div>
    </div>
    <!--line div -->
    <div class=" container-fluid my-cf">
        <hr>
    </div>
    <!-- button post saved and tagged -->
    <div class="container-fluid my-cf mb-2" >
        <div class="d-flex justify-content-center mx-4">
            <div class="d-flex flex-row align-items-center mx-3" onclick="location.href='{% url 'profile' request.user.userpersonal.uniquename %}';" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-postcard m-2" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7ZM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5ZM10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM13 8h-2V6h2v2Z"/>
                    </svg>
                    <p class="my-p">Posts</p>
            </div>
            <div class="d-flex flex-row align-items-center mx-3" onclick="location.href='{% url 'user-saved' %}';" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark m-2" viewBox="0 0 16 16">
                      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    </svg>
                    <p class="my-p">Saved</p>
            </div>
            <div class="d-flex flex-row align-items-center mx-3" onclick="location.href='{% url 'user-tagged' %}';" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-square m-2" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                    </svg>
                    <p class="my-p">Tagged</p>
            </div>
        </div>
    </div>
    <!-- user posts -->
    <div class="container-fluid" >
        {% if "profile" %}
            {% include "user_profile/userpost.html" %}
        {% elif "user_tagged" %}
            {% include "user_profile/usertagged.html" %}
        {% elif "user_saved" %}
            {% include "user_profile/usersaved.html" %}
        {% endif %}

    </div>
</div>

    <!-- follower model -->
<div class="modal fade" id="followerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Follower</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          {% for i in user.get_follower %}
        <div class="d-flex align-items-center my-d  mb-3">
            <div class="my-d">
                <img class="follower-profile-image" src="{{ i.sender.user_profile_pic.profile_pic.url }}">
            </div>
            <div class="flex-grow-1 mx-2">
                <p class="my-p follower-user-heading">{{ i.sender.userpersonal.uniquename }}</p>
                <p class="my-p follower-username-text" >{{ i.sender.get_full_name }}</p>
            </div>
            <div class="my-d">
                <button type="button" class="btn btn-secondary mx-2">Remove</button>
            </div>
        </div>
          {% endfor %}

        </div>
      </div>

    </div>
  </div>
</div>


    <!-- following model -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followering</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% for j in user.get_following %}
        <div class="d-flex align-items-center my-d  mb-3">
            <div class="my-d">
                <img class="follower-profile-image" src="{{ j.receiver.user_profile_pic.profile_pic.url }}">
            </div>
            <div class="flex-grow-1 mx-2">
                <p class="my-p follower-user-heading">{{ j.receiver.userpersonal.uniquename }}</p>
                <p class="my-p follower-username-text" >{{ j.receiver.get_full_name }}</p>
            </div>
            <div class="my-d">
                <button type="button" class="btn btn-secondary mx-2">Remove</button>
            </div>
        </div>
          {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endblock %}