{% extends 'base/base.html' %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static "user_profile/style/profile.css" %}">
{% endblock %}
{% block content %}
<div class="container-fluid mt-4" style="background-color: #e58f19;">
    <div class="container-fluid profile-header" style="background-color: green;">
        <div class="d-flex">
            <div class="d-flex align-items-center" style="background-color: aqua; display: inline-block;">
                <img class="profile-pic" src="{% static 'base/images/profile.jpg' %}">
            </div>
            <div class="d-flex" style="background-color: blue; margin: 0 0 0 50px">
                <div class="d-flex flex-column">
                    <!--profile username with edit setting and ad tool button -->
                    <div class="d-flex flex-row align-items-center mb-2">
                      <div class="my-d">
                          <p class="my-p" style="font-size: 25px;">iamjatin_yadav</p>
                      </div>
                      <div class="p-2">
                            <button type="button" class="btn btn-secondary">Edit profile</button>
                      </div>
                      <div class="p-2">
                          <button type="button" class="btn btn-secondary">Ad Tool</button>
                      </div>
                      <div class="p-2" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
                              <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                            </svg>
                      </div>
                    </div>
                    <!--post follower following sections -->
                    <div class="d-flex align-items-center justify-content-between mb-3" style="padding-right: 50px;">
                        <div>
                            <p class="my-p"><span style="font-size: 20px">40</span> posts</p>
                        </div>
                        <div>
                            <p class="my-p"><span style="font-size: 20px">400</span> follower</p>
                        </div>
                        <div>
                            <p class="my-p"><span style="font-size: 20px">300</span> following</p>
                        </div>
                    </div>
                    <!-- name section -->
                    <div class="d-flex">
                        <p class="my-p">Jatin Yadav</p>
                    </div>
                    <!-- profile Bio section -->
                    <div class="d-flex">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}