{% extends "user_profile/profile.html" %}
{% load static %}
{% block data %}
{#{% block scripts %}#}
{#    <link rel="stylesheet" href="{% static "user_profile/style/usersaved.css" %}">#}
{#{% endblock %}#}
<div class="d-flex flex-wrap " >
    <div class="container-fluid my-cf">
        <div class="d-flex justify-content-between my-d">
            <div class="d-flex">
                <p class="my-p" style="font-size: 12px;">Only you can see what you've saved</p>
            </div>
            <div class="d-flex">
                <a href="#" style="color: blue;text-decoration: none;">+ New Collection</a>
            </div>
        </div>
    </div>
    {% for user in username %}
    <div class="d-flex saved-div" onclick="location.href='{% url "user-saved-all" user.userpersonal.uniquename %}'" style="cursor: pointer;">
      <img class="post-image" src="{% static 'base/images/profile.jpg' %}">
      <img class="post-image" src="{% static 'base/images/profile.jpg' %}">
{#      <br>#}
{#      <img class="post-image" src="{% static 'base/images/profile.jpg' %}">#}
{#      <img class="post-image" src="{% static 'base/images/profile.jpg' %}">#}
      <p class="saved-title"> All Posts</p>
    </div>
    {% endfor %}
    <div class="d-flex saved-div" style="cursor: pointer;">
      <img class="other-post-image" src="{% static 'base/images/profile.jpg' %}">
      <p class="saved-title"> All Posts</p>
    </div>
    <div class="d-flex saved-div" style="cursor: pointer;">
      <img class="other-post-image" src="{% static 'base/images/profile.jpg' %}">
      <p class="saved-title"> All Posts</p>
    </div>
    <div class="d-flex saved-div" style="cursor: pointer;">
      <img class="other-post-image" src="{% static 'base/images/profile.jpg' %}">
      <p class="saved-title"> All Posts</p>
    </div>


</div>
{% endblock data %}